
.duvidas-container {
    width: 80%;
    margin: 0 auto;
    transition: 0.6s ease-out, transform 0.6s ease-out;
}

/* .duvidas-container.beam::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 700px;
    background-color: rgba(81, 47, 235, 0.9);
    filter: blur(90px);
    transform: rotate(65deg);
    border-radius: 50%;

} */



.duvidas-container,
.duvidas-container * {
    font-family: "Outfit", sans-serif;
}

.duvidas-resposta p {
    background-color: transparent;
}

.duvidas-container h1 {
    margin-bottom: 10px;
}

.duvidas-container h3 {
    color: rgba(255,255,255,80%);
    margin-bottom: 60px;
}


.duvidas-lista {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}



@media (max-width: 1000px){
    .duvidas-lista{
        max-width: 90%;
    }
}
