.form-container{
  width: 45%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

label{
  width: 100%;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

label p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1px;
  text-align: start;
}

label input,
label textarea{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: .8rem;
  min-width: 300px;
  outline: none;
  color: #FFF;
}

label input:focus,
label textarea:focus{
  border-color: var(--main-blue);
}

label textarea{
  height: 80px;
}

button#form-button.primary-btn{
  width: 80%;
  justify-content: center;
  margin-top: 8px;
}

@media (max-width: 1000px){
  .form-container{
    width: 100%;
  }
}
