.navbar-container{
  position: fixed;
  top: 15px;
  padding: 0 1rem;
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #111;
}

.image-container{
  display: flex;
  align-items: center;
  gap: 4px;
}

#process-btn{
  padding: 1rem;
}

#process-btn p{
  margin: 0;
  background-color: transparent;
}

.image-container h2 {
  font-weight: 500;
}

.center-navs-container{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.center-navs-container nav a {
  font-size: 18px;
}


@media (max-width: 800px){
  .navbar-container{
    width: 80%;
    left: 10%;
  }
  .center-navs-container{
    width: 75%;
    gap: 6px;
  }

  .center-navs-container nav a {
    font-size: 14px;
  }

  #process-btn{
    flex-shrink: 1;
    padding: .6rem;
  }
}

@media (max-width:500px){
  .navbar-container{
    width: 90%;
    left: 1.2%;
  }

  .center-navs-container nav a{
    font-size: 14px;
  }
}

.botao {
  position: relative;
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #535bf2;
}

.botao.preto {
  background-color: #000000;
}

.botao:hover .transicao2 {
  transform: translateY(-50%);
  top: 50%;
}

.botao:hover .transicao1 {
  transform: translateY(-250%);
}

.transicao2 {
  position: absolute;
  top: 100%;
  font-size: 12px;
  transition: transform 0.5s , top 0.5s;
}

.transicao1 {
  position: absolute;   
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.5s;
}