.navbar-container{
  position: fixed;
  top: 15px;
  left: 5%;
  padding: 0 1rem;
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #111;
}

.image-container{
  display: flex;
  align-items: center;
  gap: 4px;
}

#process-btn{
  padding: 1rem;
}

#process-btn p{
  margin: 0;
  background-color: transparent;
}

.image-container h2 {
  font-weight: 500;
}

.center-navs-container{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.center-navs-container nav a {
  font-size: 18px;
}


@media (max-width: 800px){
  .navbar-container{
    width: 85%;
    left: 7.5%;
  }
  .center-navs-container{
    width: 75%;
    gap: 6px;
  }

  .center-navs-container nav a {
    font-size: 16px;
  }

  #process-btn{
    flex-shrink: 1;
    padding: .6rem;
  }
}

@media (max-width:500px){
  .center-navs-container nav a{
    font-size: 14px;
  }
}
