.plans__container {
    margin: 12rem auto;
    width: 100%;
    height: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    

}

.plans__button-group {
    position: relative;
    box-sizing: border-box;
    width: 10.875rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.06);
    
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;

    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);   
}

.plans__button-background {
    position: absolute;
    left: 50%;
    width: 4.938rem;
    height: 2.375rem;
    background: rgb(81, 47, 235);
    border-radius: 8px;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.plans__button {
    box-sizing: border-box;
    width: 5rem;
    height: 2.375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    /* background: rgb(81, 47, 235); */
    border-radius: 6px;
    padding: 8px 10px 8px 10px;
    overflow: hidden;
    z-index: 2;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10;
    cursor: pointer;
}

.plans__button:hover {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.plans__button:focus {
    outline: none;
}



.plans__list {
    display: grid;

    grid-template-columns: repeat(3, 1fr); /* 3 colunas inicialmente */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    align-items: start;
    justify-items: center;
    margin: 0 auto;

}

/* .plans__list > :nth-child(1) {
    grid-column: 1 / 2;
    justify-self: start;
}

.plans__list > :nth-child(2) {
    grid-column: 2 / 3;
    justify-self: end;
} */



/*-------------------------------*/
@media (max-width: 1500px) {
    .plans__container {
        height: fit-content;
    }
    .plans__list {
        width: 80%;
        grid-template-columns: repeat(2, 1fr); 
    }

    .plans__list > :nth-child(3) {
        
        grid-column: span 2;
        justify-self: stretch;
        
    }
}


@media (max-width: 1024px) {
    .plans__container {
        height: fit-content;
    }
    .plans__list {

        width: 60%;
        grid-template-columns: 1fr; 


    }

    .plans__list > :nth-child(3) {
        grid-column: unset;
    }
}