.planos-card-div {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    gap: 35;
    background: linear-gradient(149deg, rgba(81, 47, 235, 0.15) 0%, rgba(255, 255, 255, 0.06) 28.999999999999996%, rgba(255, 255, 255, 0.06) 74%, rgba(81, 47, 235, 0.15) 100%);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 469px;    

}

.planos-card-header {
    display: flex;
    flex-direction: column;
    background-color: transparent;

    
}

.plan-title {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.basic-card-icon-div {
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 8px;
    padding: 5px;
    gap: 10;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;

    
}

.basic-card-icon {
    background-color: transparent;
}


.planos-card-header p {
    background-color: transparent;
    margin-left: 0px;
}

.prices {
    background-color: transparent;
}

.prices h1 {
    background-color: transparent;
    font-size: 35px;
}

.prices-span {
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.prices p {
    background-color: transparent;
    font-size: 16px;
    color: rgba(255, 255, 255, 70%);
}

.prices-button {
    background-color: rgba(81, 47, 235, 100%);
    width: 100%;
    
}

