.project-card__div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(149deg, rgba(81, 47, 235, 0.15) 0%, rgba(255, 255, 255, 0.06) 29%, rgba(255, 255, 255, 0.06) 74%, rgba(81, 47, 235, 0.15) 100%);
    padding: 20px 30px;
    border-radius: 30px;
    box-sizing: border-box;
    height: 149px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 355px;
    width: 100%;
    
}

.project__icon {
    background-color: rgba(255, 255, 255, 20%);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 8px;
}

.projects__div .project-card__div h3 {
    font-size: 22px;
}

.projects__div .project-card__div p {
    font-size: 16px;
    color: rgba(255,255,255,0.7);   
    margin: 0; 

}

@media (max-width: 768px) {
    .project-card__div {
        max-width: 100%;
    }
}