.projects__div h2 {
    font-size: 50px;
    margin: 0px;
}

.projects__div h3 {
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5px;
}

.project-header__div {
    margin-top: 0px;
}