.main-text {
    margin-top: 120px;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;


}


.scd-text {
    padding: 20px;
    max-width: 550px;
}


#process-btn {
    padding: 1rem;
}


#process-btn p {
    margin: 0;
    background-color: transparent;
}


.home-btn {
    display: grid;
    place-items: center;
}