#root {
  text-align: center;
  padding: 1rem;
}

* {
  background-color: #000;
  --main-purple: #130b35;
  --main-blue: #512FEB;
  font-family: "Roboto", serif;
  box-sizing: border-box;
}


.primary-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-blue);
  transition: .5s;
  gap: 4px;
}

.primary-btn svg{
  background-color: transparent;
}

.primary-btn:hover{
  background-color: transparent;
  color: var(--main-blue);
  letter-spacing: .5px;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App{
  height: 80vh;
}
