.App{
  width: 100vw;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.logo{
  width: 30px;
  height: 40px;
  padding: 0px 2px;
}

.outfit-normal {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-bold {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.primary-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-blue);
  transition: .5s;
  gap: 4px;
}

.primary-btn svg{
  background-color: transparent;
}

.primary-btn:hover{
  background-color: transparent;
  color: var(--main-blue);
  letter-spacing: .5px;
  border-color: var(--main-blue);
}
