#root {
  text-align: center;
  padding: 1rem;
}

* {
  background-color: #000;
  --main-purple: #130b35;
  --main-blue: #512FEB;
  font-family: "Roboto", serif;
  box-sizing: border-box;
}

.App{
  height: 80vh;
}

.logo{
  width: 30px;
  height: 40px;
  padding: 0px 2px;
}

.primary-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-blue);
  transition: .5s;
  gap: 4px;
}

.primary-btn svg{
  background-color: transparent;
}

.primary-btn:hover{
  background-color: transparent;
  color: var(--main-blue);
  letter-spacing: .5px;
}
